@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

/*PAGE PRINCIPALE - HEADER*/
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body .header{
    position:sticky;
    top:0;
    z-index: 1000;
}

body .header .fixation-header .navbar {
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9bccc;
    align-items: center;
    height: 80px;
}

body .header .fixation-header .navbar .profile {
    display : flex;
    align-items: center;
}

body .header .fixation-header .navbar .profile img{
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

body .header .fixation-header .navbar .profile h1{
    margin-left: 15px;
    font-size: 20px;

}
body .header .fixation-header .navbar .profile h1 a{
    text-decoration: none;
}

body .header .fixation-header .navbar .liste{
    margin-right: 15px;
    display: flex;
    list-style-type: none;
}

body .header .fixation-header .navbar .liste li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f9bccc ;
}

body .header .fixation-header .navbar .liste li:hover{
    border-bottom: 1px solid #0e3354 ;
}

body .header .fixation-header .navbar .liste a{
    text-decoration: none;
}

body .header .fixation-header .navbar .burger{
    display: none;
}







/*PAGE PRINCIPALE - CONTENU*/
.page-content{
    margin: 4%;
    margin-bottom: 0;
}

.page-content .presentation{
    margin-top: 5%;
    max-width: 98%;
}

.page-content .presentation h1{
    margin : 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
    text-align: left;
}

.page-content .presentation p{
    line-height: 30px;
    color : #000000;
    font-size: 20px;
}

.page-content .presentation button{
    background-color: inherit;
    border : none;
    outline: none;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #0e3354 ;
    cursor: pointer;
}

.page-content .presentation button a{
    text-decoration: none;
}

.page-content .presentation button:hover{
    background-color: #f9bccc;
    color:#ffffff;
    border-bottom-color: #ffffff ;
}




.page-content .presentation-image{
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .presentation-image .image{
    text-align: center;
}

.page-content .presentation-image .image video{
    max-width: 70%;
    height: auto;
}

.highlight {
    background-image: url(img/surligneur.png); /* Lien vers l'image du surlignage fait à la main */
    background-size: 100% 110%; /* Ajuste la taille de l'image pour qu'elle prenne toute la largeur et hauteur du texte */
    background-repeat: no-repeat;
    padding: 2px 4px; /* Ajoute de l’espace autour du texte */
    border-radius: 3px; /* Légère courbe pour les coins */
}







/*PAGE PARCOURS*/

.page-content .parcours-section .cv {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}

/*debut timeline*/
.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}
  
.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
}
  
.timeline li {
    padding: 1em 0;
}
  
.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
  
.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}
  
.direction-r {
    position: relative;
    width: 300px;
    float: right;
}
  
.flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
}
  
.flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
}
  
.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}
  
.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}
  
.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #f9bccc;
    z-index: 10;
}
  
.direction-r .flag:before {
    left: -40px;
}
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: #f9bccc;
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
  }
  
  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
  
  /* ================ Timeline Media Queries ================ */
  
  @media screen and (max-width: 660px) {
  
  .timeline {
       width: 100%;
      padding: 4em 0 1em 0;
  }
  
  .timeline li {
      padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
      float: none;
      width: 100%;
  
      text-align: center;
  }
  
  .flag-wrapper {
      text-align: center;
  }
  
  .flag {
      background: rgb(255,255,255);
      z-index: 15;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid #f9bccc;
      z-index: 10;
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
  }
  
  .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
  }
  
  .direction-l .time-wrapper {
      float: none;
  }
  
  .direction-r .time-wrapper {
      float: none;
  }
  
  .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
    z-index: 15;
  }
  
  .direction-l .desc,
  .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
    z-index: 15;
  }
  
  }
  
  @media screen and (max-width: 660px) {
  
  .direction-l .desc,
  .direction-r .desc {
      margin: 1em 4em 0 4em;
  }
  
  }
/*fin timeline*/
/*le reste*/
.page-content .parcours-section .cv .btn{
    display: inline-block;
    font-weight: 400;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    text-decoration:none;
    margin-bottom: 5%;
    background:#eedeed;
    margin-right: 5%;
}

.page-content .parcours-section .image{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .parcours-section .image img{
    max-width: 100%;
}











/*PAGE DES COMPETENCES*/
.page-content .competences-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .competences-section h1{
    font-size: 3.5vw;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 0;
}

.page-content .competences-section .grid{
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.page-content .competences-section .grid .grid_item{
    width: 100%;
}

.page-content .competences-section .grid .grid_item .image_competences{
    text-align: center;
}

.page-content .competences-section .grid .grid_item .image_competences img{
    max-width: 80%;
}

.page-content .competences-section .grid .grid_item h3{
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 0;
}

.page-content .competences-section .grid .grid_item .liste{
    list-style-type: none;
}

.page-content .competences-section .grid .grid_item .liste li h4{
    font-size: 1.5vw;
}

.page-content .competences-section .grid .grid_item .liste li h4:hover{
    color:#be2323;
}

.page-content .competences-section .grid .grid_item .liste li p{
    font-size: 1.25vw;
    color: #4c5155;
}
/*hard skills*/
/* Styles pour la section contenant les images */
.competences_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alignez les images à gauche */
    align-content: flex-start; /* Alignez les images en haut de la ligne */
    gap: 10px; /* Espace entre les images */
    max-width: 65%; /* Largeur maximale de la section (ajustez selon vos besoins) */
    margin: 0 auto; /* Centrez la section horizontalement sur la page */
}

/* Styles pour chaque image */
.competence_images {
    width: calc(16.66% - 10px); /* 16.66% permet d'afficher 6 images par ligne avec un espace de 10px entre chaque */
    height: auto; /* Gardez la hauteur proportionnelle à la largeur */
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transform: rotate(calc(var(--rotate) * 1deg));
    --rotate: random(360);
}

.competences_images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .competence_images {
        width: calc(33.33% - 10px); /* 33.33% permet d'afficher 3 images par ligne avec un espace de 10px entre chaque */
    }
}








/*PAGE DES PROJETS*/
.page-content .project-section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .project-section h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 0;
}

.page-content .project-section .project{
    margin-top: 0%;
    display:flex;
    flex-wrap: wrap;
    align-self: center;
    max-width: 100%;
    text-align: center;
    justify-content:center;
}

.page-content .project-section .project .project-item{
    max-width: 30%;
    margin-right: 15px;
}
.page-content .project-section .project .project-item .presentation_image{
    text-align: center;
}

.page-content .project-section .project .project-item h4{
    font-size: 20px;
    font-weight: bolder;
}

.page-content .project-section .project .project-item img{
    margin-top: 10%;
    max-width: 80%;
    height: auto;
    border-radius: 10%;
    transition: filter 0.5s;
}

.page-content .project-section .project .project-item img:hover{
    filter:grayscale(50);
    cursor: pointer;
}

.page-content .project-section .project .project-item p{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 0;
    color:rgb(90, 86, 86);
}





/*debut page des projets individuels*/
.page-content{
    text-align: justify;
}
.page-content .ps7 h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.page-content .ps7 h2{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-content .ps7 h3{
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-content .ps7 h4{
    font-size: 13px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-content .ps7 .texte img{
    display: block;
    margin: 0 auto;
    max-width: 50%;
}
.page-content .ps7 .texte iframe{
    display: block;
    margin: 0 auto;
    max-width: 50%;
}
.flourish-embed{
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.page-content .ps7 .image{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .ps7 .proto{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .ps7 .image img{
    max-width: 100%;
}

.page-content .ps7 .video video{
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .ps7 .rapport {
    display:flex;
    flex-wrap:wrap ;
    justify-content:center;
}

.page-content .ps7 .rapport .btn{
    display:inline-flex;
    font-weight: 400;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    text-decoration:none;
    margin-top: 5%;
    margin-bottom: 5%;
    background:#eedeed;
    margin-right: 5%;
}
/*fin page des projets individuels
--> selma du futur :
ça s'appelle ps7 car tous les projets suivent
la même présentation que la page ps7
donc pas d'affolement la prochaine fois*/

/*IFRAMES*/
/* Style pour l'iframe en mode bureau */
#pdf_iframe {
    display: flex;
    width: 50%; /* Par défaut, prend 50% de la largeur */
    height: 500px; /* Hauteur par défaut */
    max-width: 100%; /* Ne dépasse pas la largeur de l'écran */
    display: block; /* Pour éviter les espaces vides sous l'iframe */
    margin: 0 auto; /* Centrer horizontalement */
    padding-bottom: 10px;
}

/* Style pour l'iframe en mode mobile */
@media (max-width: 767px) {
    #pdf_iframe {
        width: 100%; /* Pleine largeur de l'écran en mode mobile */
        height: auto; /* Hauteur adaptée à l'écran en mode mobile */
    }
}








/*PAGE CENTRE D'INTERET*/

.page-content .interet-section .image{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page-content .interet-section .image img{
    max-width: 100%;
}

/*debut des cards*/
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}

.page-content2 {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content2 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
#photo:before {
  background-image: url(img/photo.jpg);
}
#video:before {
  background-image: url(img/video.jpg);
}
#voyage:before {
  background-image: url(img/voyage.jpg);
}
#dessin:before {
  background-image: url(img/dessin.jpg);
}
#logo:before {
    background-image: url(img/logo.jpg);
}
#community:before {
    background-image: url(img/socialmedia.jpg);
}
#ps7:before {
    background-image: url(img/ps7/cast.png);
}
#ihm:before {
    background-image: url(img/ihm/crush.png);
}
#analysedonnees:before {
    background-image: url(img/data/datavore.png);
}
#evalux:before {
    background-image: url(img/eval/ux.png);
}
#perception:before {
    background-image: url(img/psycho/perception.png);
}
#crea:before {
    background-image: url(img/crea/crea.png);
}
#ethno:before {
    background-image: url(img/ethno/ethno.png);
}
#enquanti:before {
    background-image: url(img/epq/enquanti.png);
}
#reflexivite:before {
    background-image: url(img/reflexivite/reflexivite.png);
}
#latino:before {
    background-image: url(img/latino/latino.png);
}
#ps8:before {
    background-image: url(img/ps8/ps8.png);
}
#collab:before {
    background-image: url(img/collab/collab.png);
}
#hanoi:before {
    background-image: url(img/hanoi/hanoi.png);
}
#ca1:before {
    background-image: url(img/ca1/ca1.png);
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}
/*fin des cards*/




/*PAGE PHOTOS*/

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.photo_interet {
    width: calc(25% - 10px); /* 4 photos par ligne avec espacement */
    margin-bottom: 20px;
    position: relative;
}

.photo_interet img {
    max-width: 100%;
    padding: 10px;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.photo_interet:hover img {
    transform: scale(1.05); /* Zoom au survol */
}

.photo_interet::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Filtre sombre */
    opacity: 0;
    transition: opacity 0.3s;
}

.photo_interet:hover::before {
    opacity: 1; /* Affiche le filtre sombre au survol */
}

/*PAGE DES LOGOS*/
#carrousel_logo img{
    max-width: 50%;
    margin: 0 auto;
}

	


/*FOOTER*/
.footer{
    margin: 0;
    margin-top: 3%;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: black;
    height: auto;
    color: #ffffff; 
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .coordonnees{
    width: 80%;
}

.footer .coordonnees h3{
    padding-top: 10px;
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.footer .coordonnees p{
    margin:0;
    padding-bottom: 50px;
    padding-left: 20px;
    font-size: 15px;
}

.footer .coordonnees a{
    text-decoration: none;
    color: #ffffff;
}


.footer .image{
    margin: auto;
}

.footer .image img{
    width: 100px;
}

.footer .image img:hover{
    width: 200px;
}


/** RESPONSIVE **/
@media screen and (max-width: 830px){

    body .header .fixation-header .navbar{
        justify-content: space-between;
        align-items: center;
        height:50px;
    }

    body .header .fixation-header .navbar .profile img{
        height: 30px;
        width: 30px;
    }

    body .header .fixation-header .navbar .profile h1{
        font-size: 15px;
    }

    body .header .fixation-header .navbar .liste{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        margin-top: 0;
        top : 50px;
        left: 110%;
        overflow: hidden;
        opacity: 0;
        height: calc(100vh - 55px);
        background: #f9bccc;
        transition: all .4s ease-out;
    }

    body .header .fixation-header .navbar .liste li{
        margin-bottom: 15px;
    }

    body .header .fixation-header .navbar .show-liste{
        opacity: 1;
        padding-left: 0;
        width: 100%;
        left: 0;
    }

    body .header .fixation-header .navbar .liste li a{
        display: block;
    }

    body .header .fixation-header .navbar .burger{
        display: block;
        content:"";
        margin-right: 15px;
        background: none;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }


    



    .page-content .presentation{
        margin-top: 10%;
        max-width: 100%;
    }

    .page-content .presentation h1{
        text-align: left;
        font-size: 7vw;
    }
    
    .page-content .presentation p{
        font-size: 3.5vw;
        line-height: 1.2;
    }

    .page-content .presentation button{
        font-size: 3.5vw;
    }

    .page-content .presentation-image .image video{
        max-width: 70%;
        height: auto;
    }
    










    .page-content .competences-section{
        margin-top: 15%;
    }
    
    .page-content .competences-section h1{
        font-size: 7vw;
    }
    
    .page-content .competences-section .grid .grid_item{
        width: 100%;
    }

    .page-content .competences-section .grid .grid_item h3{
        font-size: 5vw;
    }

    .page-content .competences-section .grid .grid_item .image_competences img{
        max-width: 100%;
    }

    .page-content .competences-section .grid .grid_item .liste{
        margin-right:40px;
    }

    .page-content .competences-section .grid .grid_item .liste li h4{
        font-size: 3.80vw;
    }

    .page-content .competences-section .grid .grid_item .liste li p{
        text-align: justify;
        font-size: 3.5vw;
    }






    .page-content .project-section{
        margin-top: 15%;
    }
    .page-content .project-section h1{
        font-size: 1.5em;
    }

    .page-content .project-section .project .project-item{
        margin-right: 0;
        max-width: 100%;
    }




    .page-content .ps7 h1{
        font-size: 7vw;
    }
    .page-content .ps7 h2{
        font-size: 6vw;
    }
    .page-content .ps7 h3{
        font-size: 5vw;
    }
    .page-content .ps7 h4{
        font-size: 4vw;
    }

    .page-content .ps7 p{
        font-size: 3.5vw;
    }

    .page-content .ps7 .proto .figma{
        max-width: 100%;
    }
    
    .page-content .ps7 .video{
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .page-content .ps7 .video video{
        max-width: 100%;
    }

    .page-content .ps7 .rapport {
        margin-bottom: 5%;
    }



    .photo_interet {
        width: calc(100% - 10px); /* 4 photos par ligne avec espacement */
        margin-bottom: 20px;
        position:relative;
    }




    .footer{
        padding-bottom: 5%;
    }

    .footer .coordonnees{
        width: 100%;
    }

    .footer .coordonnees h3{
        font-size: 7vw;
    }
    
    .footer .coordonnees p{
        font-size: 3.5vw;
    }
    
    .footer .image img{
        width: 40px;
    }
    
    
}